// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 16px;
  /* margin-right:20px; */
  width: 1250px;
  height: auto;
  margin: 0 auto;
  border: 1px solid black
}

.abt {
  width: 500px;
  height: auto;
  border: 1px solid black;

}